# Enable FollowSymLinks
Options +FollowSymLinks

# Custom 404 page
ErrorDocument 404 /404.html

# Rewrite rules for SPA routing
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>